.container_replay_play{
	width: calc(100% - 60px);
	background-color: var(--main-white-eeeeee);
	padding: 30px;
	margin-top: 60px;
	border-bottom: 2px solid var(--main-black-super-272222);
	display: flex;
	justify-content: center;
}
.replay_play_video{
	width: 80%;
	min-width: 260px;
	border-radius: 20px;
}
.replay_item_video{
	list-style: none;
	width: 100%;
}
.replay_display_off{
	display: none;
}
.replay_item_video video{
	width: 100%;
	border-radius: 20px;
}

/* ------------   	container todas las replays      --------------- */
.container_all_replays{
	width: calc(100% - 60px);
	padding: 16px 30px 30px 30px;
	background-color: var(--main-white-eeeeee);
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
.title_replays{
	padding: 0px 0 20px 0;
	font-size: 40px;
	text-align: center;
	color: var(--main-verde-oscuro-00652e);
	-webkit-box-reflect: below -50px linear-gradient(transparent,transparent, rgba(0,0,0,.8));
}
.replays_container{
	padding-top: 20px;
	list-style: none;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.replay_item{
	margin: 5px;
	height: 130px;
	border-radius: 8px;
	position: relative;
}
.replay_item img{
	border-radius: 8px;
	height: 100%;
}
.upload_day{	cursor: default;}
.fa-play{	cursor: pointer;}
.upload_day, .download_replay, .fa-play{
	font-size: 14px;
	position: absolute;
	margin-left: 20%;
	bottom: 0px;
	left: 0px;
	color: var(--main-white-eeeeee);
	padding: 2px;
	background-color: var(--main-azul-claro-0075c9);
	border-radius: 30px;
	width: 60%;
	text-align: center;
	opacity: 0;
	transition: .6s;
}
.download_replay{
	width: 80%;
	margin-left: 10%;
	text-decoration: none;
}
.fa-play{
	margin-left: 40%;
	font-size: 22px;
	padding: 6px;
	width: 20%;
}
.replay_item:hover .upload_day{
	bottom: 40px;
	opacity: 1;
	transition: .6s;
}
.replay_item:hover .download_replay{
	bottom: 12px;
	opacity: 1;
	transition: .6s;
}
.replay_item:hover .fa-play{
	bottom: 80px;
	opacity: 1;
	transition: .6s;
}


