.container_team_flex{
	width: calc(100% - 60px);
	background-color: var(--main-white-eeeeee);
	padding: 30px;
	margin-top: 60px;
	display: flex;
	flex-direction: column;
}
.team_title{
	width: calc(100% - 40px);
	text-align: center;
	padding: 20px;
	font-size: 50px;
	color: var(--main-verde-oscuro-00652e);
	-webkit-box-reflect: below -54px linear-gradient(transparent, transparent, rgba(0,0,0,0.3));
}
.container_team{
	margin: auto;
	padding-top: 20px;
	width: 90%;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.item_team{
	min-width: 220px;
	height: 400px;
	box-shadow: 0 0 6px 0 var(--main-black-super-272222);
	background-color: transparent;
	border-radius: 8px;
	margin: 10px 10px;
	transform: skewX(-6deg);
	display: flex;
	flex-direction: column;
}
.item_team:not(:visited){	text-decoration: none;}
.item_team:visited{	text-decoration: none;}
.item_team:hover .li_infos_person{  color: var(--main-azul-claro-1fa2ff);}
.item_team:hover .champions_person{  color: var(--main-azul-claro-0075c9);}

.img_person{
	flex-grow: 1;
	border-radius: 8px 8px 0 0;
}
.info_person{
	width: 100%;
	background-color: var(--main-black-super-272222);
	color: var(--main-white-eeeeee);
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	list-style: none;
	border-radius: 0 0 8px 8px;
	text-align: center;
	box-sizing: border-box;
	padding: 10px;
}
.li_infos_person{  padding: 4px 0;}
.name_person{  font-size: 20px;}
.position_person{  font-size: 16px;}

.champions_person{
	font-size: 10px;
	display: inline;
}