

.header_container{
	position: fixed;
	z-index: 3000;
	width: 100%;
	background-color: #eeeeee;
	display: flex;
	margin-top: -60px;
	box-shadow: 0 2px 10px 0 #272222;
}
.header_logo{
	width: 180px;
	height: 50px;
	margin: 5px 20px 5px 10px;
	display: flex;
}
.four_things_container{
	cursor: pointer;
	list-style: none;
	flex-grow: 1;
	margin: 5px 10px 5px 10px;
	display: flex;
	justify-content: flex-start;
}
.header_items:not(:last-child), .header_items{
	display: inline;
	background-color: #eeeeee;
	font-size: 20px;
	height: 30px;
	margin: auto 0 auto 0;
	padding: 5px 15px 0px 15px;
	transform: skew(15deg);
	border-right: 2px solid #adadad;
	text-decoration: none;
}
.header_items{
	border-right: 0;
}
.header_items p {
	transform: skew(-15deg);
	padding: 0;
}
.header_items p:hover{
	color: #00518a;
}
.header_items:visited{
	color: #272222;
}
.header_items:not(:visited){
	color: #272222;
}
.account_shop_container{
	cursor: pointer;
	display: flex;
	list-style: none;
	margin: 5px 20px 5px 10px;
}
.shop_and_account:first-child span{
	font-size: 12px;
	padding: 4px 6px;
	text-align: center;
	position: absolute;
	background-color: #001781;
	color: #eeeeee;
	bottom: -4px;
	right: -12px;
	border-radius: 50%;
}
.shop_account:first-child{
	border-right: 2px solid #adadad;
}
.shop_account{
	height: 30px;
	margin: auto 0 auto 0;
	padding: 5px 15px 0px 15px;
	transform: skew(15deg);
}
.shop_and_account{
	font-size: 30px;
	box-sizing: border-box;
	color: #272222;
	transform: skew(-15deg);
}
.shop_and_account:hover{
	color: #00518a;
}
.shop_account:first-child{
	border-right: 2px solid #adadad;
}


/* -----------------------------------		menu responsive */
.menu_responsive{
	display: none;
}
.menu_responsive_display{
	display: none;
}


@media (min-width: 150px) and (max-width: 960px){
	.four_things_container{display: none;}
	.account_shop_container{display: none;}
	.header_container{justify-content: space-between;}

	.header_logo{
		width: 240px;
		margin-left: 20px;
	}
	.menu_responsive{
		cursor: pointer;
		display: flex;
		justify-content: end;
		width: 60px;
		height: 50px;
		margin: 5px 20px 5px 10px;
	}
	.fa-flip-horizontal{
		font-size: 40px;
		padding-top: 5px;
	}
	.menu_responsive_display{
		display: none;
		flex-direction: column;
		position: absolute;
		z-index: 12000;
		top: 0;
		width: 100%;
		height: 100vh;
		background: linear-gradient(180deg, rgba(238,238,238,1) 49%, rgba(39,34,34,1) 51%);
	}
	.img_manaos_menu_responsive{
		margin-top: 6px;
		width: 100%;
		height: 12%;
		min-height: 90px;
		background-color: #eeeeee;
		border-bottom: 12px solid #eeeeee;
		background-image: url(../../images/logo_login.png);
		background-size: contain;
		background-position: center center;
		background-repeat: no-repeat;
	}
	.four_things_container_responsive{
		display: flex;
		flex-direction: column;
		border-top: 4px solid #0075c9;
		width: 100%;
		flex-grow: 1;
		width: 100%;
		background-color: #272222;
		overflow-y: auto;
	}
	.header_items_responsive{
		padding: 10px;
		margin: 4px;
		color: #eeeeee;
		text-decoration: none;
	}
	.header_items_responsive:nth-child(6){
		border-bottom: 2px solid #0075c9;
	}
	.header_items_responsive:hover{
		background-color: #505050;
	}
	.close_menu_responsive{
		margin-top: -4px;
		color: #eeeeee;
		border-bottom: 2px solid #0075c9;
		border-top: 2px solid #0075c9;
		cursor: pointer;
	}
	.close_menu_responsive:hover{
		background-color: #001781;
	}
	.footer_container{
		width: 100%;
		padding-bottom: 30px;
		margin-bottom: 10px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		background-color: #272222;
		border-top: 2px solid #0075c9;
	}
	.footer_contact_responsive{
		margin: 10px;
		width: 300px;
		color: #eeeeee;
	}
	.contact_item1_responsive{
		font-size: 20px;
		text-align: center;
	}
	.contact_item2_responsive{
		font-size: 12px;
		margin: 6px 0 16px 0;
		text-align: center;
		color: #adadad;
	}
	.contact_item3_responsive{
		width: 100%;
		display: flex;
		justify-content: center;
	}
	.contact_item3_responsive i {
		font-size: 20px;
		margin-right: 6px;
	}
	.contact_item3_responsive{
		width: 100%;
		font-size: 12px;
	}
	.footer_media_responsive{
		margin: 10px;
		width: 300px;
		color: #eeeeee;
	}
	.media_2_responsive{
		font-size: 12px;
		margin: 6px 0 16px 0;
		text-align: center;
		color: #adadad;
	}
	.media_3_responsive{
		display: flex;
		justify-content: space-between;
	}
	.img_logos_responsive{
		box-sizing: border-box;
		width: 40px;
		height: 40px;
		background-color: #eeeeee;
		margin: 4px;
		padding: 6px;
		border-radius: 50%;
	}
	.img_logos_responsive img{
		width: 100%;
	}
	.img_logos_responsive:hover{
		border: 2px solid #eeeeee;
		background-color: #0075c9;
	}
	.img_logos_responsive:hover img{
		filter: contrast(3);
	}
	@media (min-width: 150px) and (max-width: 450px){
		.contact_item1_responsive{	font-size: 16px;}
		.contact_item2_responsive{	font-size: 10px;}
	}
}

/* ----------------------------------------------	footer	---------------------------------------------------- */
footer{
	width: calc(100% - 40px);
	background-color: #272222;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	padding: 20px;
	box-shadow: 0 -2px 4px #121212;
	border-top: 1px solid #909090;
}
.img_footer{
	margin: 10px;
	width: 130px;
}
.footer_contact{
	margin: 10px;
	width: 300px;
	color: #eeeeee;
}
.contact_item1{
	font-size: 24px;
	text-align: center;
}
.contact_item2{
	font-size: 14px;
	margin: 6px 0 30px 0;
	text-align: center;
	color: #adadad;
}
.contact_item3{
	width: 100%;
	display: flex;
}
.contact_item3 i {
	font-size: 20px;
	margin-right: 6px;
}


.footer_media{
	margin: 10px;
	width: 300px;
	color: #eeeeee;
}
.media_2{
	font-size: 14px;
	margin: 6px 0 16px 0;
	text-align: center;
	color: #adadad;
}
.media_3{
	display: flex;
	justify-content: space-between;
}
.img_logos{
	box-sizing: border-box;
	width: 40px;
	height: 40px;
	background-color: #eeeeee;
	margin: 4px;
	padding: 6px;
	border-radius: 50%;
}
.img_logos img{
	width: 100%;
}
.img_logos:hover{
	border: 2px solid #eeeeee;
	background-color: #0075c9;
}
.img_logos:hover img{
	filter: contrast(3);
}